<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.dao.LineMapper">
  <resultMap id="BaseResultMap" type="com.server.bean.Line">
    <constructor>
      <idArg column="line_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="batch_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="proj_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="datatype" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="importdate" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="gline" javaType="java.lang.Object" jdbcType="OTHER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    line_id, batch_id, proj_id, datatype, importdate, gline
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_line
    where line_id = #{lineId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_line
    where line_id = #{lineId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.server.bean.Line">
    insert into tb_line (line_id, batch_id, proj_id, 
      datatype, importdate, gline
      )
    values (#{lineId,jdbcType=INTEGER}, #{batchId,jdbcType=INTEGER}, #{projId,jdbcType=INTEGER}, 
      #{datatype,jdbcType=VARCHAR}, #{importdate,jdbcType=DATE}, #{gline,jdbcType=OTHER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.server.bean.Line">
    insert into tb_line
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lineId != null">
        line_id,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="projId != null">
        proj_id,
      </if>
      <if test="datatype != null">
        datatype,
      </if>
      <if test="importdate != null">
        importdate,
      </if>
      <if test="gline != null">
        gline,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lineId != null">
        #{lineId,jdbcType=INTEGER},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=INTEGER},
      </if>
      <if test="projId != null">
        #{projId,jdbcType=INTEGER},
      </if>
      <if test="datatype != null">
        #{datatype,jdbcType=VARCHAR},
      </if>
      <if test="importdate != null">
        #{importdate,jdbcType=DATE},
      </if>
      <if test="gline != null">
        #{gline,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.server.bean.Line">
    update tb_line
    <set>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=INTEGER},
      </if>
      <if test="projId != null">
        proj_id = #{projId,jdbcType=INTEGER},
      </if>
      <if test="datatype != null">
        datatype = #{datatype,jdbcType=VARCHAR},
      </if>
      <if test="importdate != null">
        importdate = #{importdate,jdbcType=DATE},
      </if>
      <if test="gline != null">
        gline = #{gline,jdbcType=OTHER},
      </if>
    </set>
    where line_id = #{lineId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.server.bean.Line">
    update tb_line
    set batch_id = #{batchId,jdbcType=INTEGER},
      proj_id = #{projId,jdbcType=INTEGER},
      datatype = #{datatype,jdbcType=VARCHAR},
      importdate = #{importdate,jdbcType=DATE},
      gline = #{gline,jdbcType=OTHER}
    where line_id = #{lineId,jdbcType=INTEGER}
  </update>
</mapper>